<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- this is the root component-->
<!-- all other components are added here as sub components (they are NOT added in the index.html)-->
<!-- we do not need to import them, however they must be registered in the app.module.ts so angular knows them-->


<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Rating Management</title>
</head>
<app-header></app-header>
<main>
  <router-outlet></router-outlet>
</main>
</html>
